
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.data.global.title }}</title>
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.data.global.description }}">
    {% endif %}

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



